<?xml version="1.0"?>
<!--
/**
 * ManiyaTech
 *
 * @author        Milan Maniya
 * @package       ManiyaTech_Core
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="maniyatechcore" frontName="maniyatechcore">
            <module name="ManiyaTech_Core" before="Magento_Adminhtml" />
        </route>
    </router>
</config>
